.navbar{
    background-color:#D32F2F  !important;
}
.nav-link
{
    color: white !important;
    font-weight: bold !important;
}
 .fa-car
 {
     font-size: 25px;
    
 }
 .fa-user-circle-o
 {
     font-size: 25px;
 }
 .fa-truck
 {
     font-size:50px !important;
     margin-right: 13px;
     color: #D32F2F;
    }
 .card1{
     text-align: center;
     display: flex;
     width: 300px;
     height: 100px;
     background-color: white;
     box-shadow: 2px 4px 5px grey;
     justify-content: center;
     align-items: center;
     margin-top: 10px;
     
      
 }
 .maincard{
     margin-top: 40px;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }
 .fa-headphones
 {
     font-size:50px !important;
     margin-right: 13px;
     color: #D32F2F;
 }
 .card2
 {
    text-align: center;
    display: flex;
    width: 300px;
    height: 100px;
    background-color: white;
    box-shadow: 2px 4px 5px grey;
    justify-content: center;
     align-items: center;
     margin-top: 10px;

    
 }
.fa-thumbs-up{
    font-size:50px !important;
    margin-right: 13px;
    color: #D32F2F;

}
 .card3
 {
    text-align: center;
    display: flex;
    width: 300px;
    height: 100px;
    background-color: white;
    box-shadow: 2px 4px 5px grey;
    justify-content: center;
     align-items: center;
     margin-top: 10px;
 }
 @media screen and (max-width:600px){
     {
         width: 100%;
     }
 }
 
 .newArrivel
 {
     margin-top: 50px;
 }
 .card{
     height: auto !important;
     width: 200px;
     margin-bottom: 10px;

 }
 .card-text
 {
     font-weight: bold;
 }
 .btn-primary
 {
     width: 100%;
     background-color:#D32F2F ;
 }
 .heading >h1{
     text-shadow: 2px 2px 4px black;
 }
 .footer
 {
     width: 100%;
     background-color:#D32F2F ;
     height: 30px;
     color: blanchedalmond;
 }
 .footer>div{
     text-align: center;
 }
 @media only  screen and (max-width:700px) 

{
    .footer
    {
        margin-top: 550px;
        display: flex;
        text-align: center;
    }
    
}


#button:hover
{
    background-color:pink;
    width: 100px;
    border:2px solid red;
    border-radius: 2px solid red;

}

 #aabout
{
    margin-top: -390px;
  background-color: white;
  width: 99%;
  display: flex;
}

@media only  screen and (max-width:700px) 

{
    #aabout
    {
        width: 400px;
        height: 300px; 
        float: left;
        margin-top:px ;
        display: flex;
    }
    
}
 #about
{
  flex-wrap: wrap; 
  height: 300px;
   background-color: #D32F2F; 
   color: blanchedalmond;
   margin-top: 450px;"
   display: flex: ;

}
@media only  screen and (max-width:600px) 
{
  #about
{
    width: 500px; 
  height: 500px;
   background-color:; 
   margin-bottom: 50px;"

}}


#img
{ 

  float: left; 
  height: 200px; 
  display: flex;
}

@media only  screen and (max-width:600px) 

{
    #img
    {
        width: 200px;
        height: 200px; 
        float: left;
    }
    
}

#imgg
{ 
  width: 600px;
  float: left; 
  height: 305px;
  display: flex;
  margin-top: 450px;
}
@media only  screen and (max-width:600px) 

{
    #imgg
    {
        width: 200px;
        height: 400px; 
        float: left;
        display: flex;
        margin-top: 450px;
    } 
}